@import '../colors';

.learnGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "quest answer"
    "quest input";
  max-height: 100vh;
  min-height: 300px;

  img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .learnGrid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "quest"
      "answer"
      "input";
  }
}

.questContainer {
  display: flex;
  justify-content: flex-end;
  grid-area: quest;
}

.answerContainer {
  display: flex;
  grid-area: answer;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.answerOption {
  font-weight: 600;
  font-size: 1.2em;

  &:first-child {
    font-size: 1.4em;
  }
}

.inputContainer {
  grid-area: input;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.inputUpper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputUpperUpper {
  margin: 8px 0;
}

.input {
  width: 400px;
  margin: 0 8px;
}

.result {
  padding: 0 20px;
  font-weight: bold;
}

.good {
  color: white;
  background: green;
  composes: result;
}

.bad {
  color: white;
  background: red;
  composes: result;
}

.answerForm {
  display: inline;
}
