.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: #f3f3f3;
  text-align: center;
}

.tip {
  font-weight: 700;
  font-size: 2em;
}

.subtext {
  //font-size: 2em;
  color: #868686;
}